{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}

{% block body %}
<main>
        <!--? Hero Start -->

        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
    <br>
     <h2>Technology solutions to help businesses and societies flourish</h2>
    <p>VITS is a software company based in Pune, India. We offer multiple solutions ranging from software development,
        website designing, mobile application development and online marketing that help small and medium-scale
        companies to perform, profit and grow.</p>
<br><p> We are considered as quite creative and dependable by our clients, helping businesses gain a competitive
        advantage from cost-efficient and effective web solutions. We have been serving businesses representing diverse
        industry verticals with quality solutions and services as a world-class software development and designing
        company.
    </p>
        <div class="about-details section-padding30">

            <br>
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Our Mission</h4>
                            <p></p>
                            <p>Create, enhance and maintain great products and services. We understand your
                                requirements, purpose, and goals and enable you to work at full potential.</p>

                             <p>Not only we look forward to our company’s growth, but we also strive for the growth of
                               IT by contributing to the developer’s community.</p>
                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>Our Vision</h4>
                            <p></p>
                            <p>Customer satisfaction and all else will follow.</p>
                            <p>Excellence through quality work.</p>
                            <p>Happy and motivating working conditions (You can be serious without a suit!).</p>
                            <p>Grabbing every opportunity to learn.</p>
                            <p>Do things that matter.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area Start-->
        <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4">
                        <div class="support-location-img">
                            <img src="{% static 'assets/img/gallery/about.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-9">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-50">
                                <span></span>
                                <h2>why choose us</h2>
                             </div>
                            <div class="support-caption">
                                <p class="mb-65"><strong>At VITS, we appreciate the trust you put in us when you hand us the keys to your IT
                                    kingdom. We’ve earned that trust from many of clients in dozens of industries, and
                                    we know we can earn it from you. Our consultants are strategic thinkers with years of experience in both IT and
                                    business. We do our homework, and make sure we understand your business goals before
                                    working with you to set technology goals. We are your reliable and trustworthy IT Service Provider and Advisor helping you in
                                    software services on which you and your people can depend on.Our specialty is custom-made solutions for how you work, sell, and grow. We think
                                    this is important, because at the end of the day,</strong></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!-- Team Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-90">
                            <span>About Us </span>
                            <h2>About Us</h2>
                            <p><strong></strong><strong>VITSis a software company based in Pune, India. We offer
                                multiple solutions ranging from software development, website designing, mobile
                                application development and online marketing that help small and medium-scale companies
                                to perform, profit and grow.
                                We are considered as quite creative and dependable by our clients, helping businesses
                                gain a competitive advantage from cost-efficient and effective web solutions. We have
                                been serving businesses representing diverse industry verticals with quality solutions
                                and services as a world-class software development and designing company.</strong></p>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/crm03.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">creative thinking</a></h3>
                                <span>We research and innovate to make a difference. We believe in building a unique solution and software that improves lives through research, design, and technology.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/crm01.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">sales strategy</a></h3>
                                <span>It’s our mission to provide you with a great return on your investment with us. Equally important is the service we provide. We will help acquaint you with the process you’re about to go through as a potential VITS client.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/crm02.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">problem solving</a></h3>
                                <span>Problem-solving is the essence of website designing. As a web designer, you can’t only get inspiration from web galleries, but you can also find solutions from other people’s problems.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </main>
{% endblock %}