{% load static %}
{% static "images" as baseUrl %}

 <!doctype html>

<html class="no-js" lang="zxx">
<head>
 	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>VITS</title>
 	<meta name="description" content="VITS">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="shortcut icon" type="{% static 'image/x-icon' %}" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link href="{% static 'styles/bootstrap4/bootstrap.min.css' %} " rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}" type="te type="text/css" xt/css" >
	<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" >

</head>

<body class="body-bg">
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'assets/img/logo/loder.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li><i class="far fa-clock"></i> Varun Information Techonology Solutions LLP</li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <div class="home_title"><h4>VITS</h4></div>
                             </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="home">Home</a></li>
                                            <li><a href="about">About</a></li>
                                            <li><a href="services">Application</a></li>
                                            <li><a href="blog.html">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
  <div class="container">

      {% block body %}


      {% endblock %}
    </div>

<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="{% static 'assets/img/gallery/footer_bg.jpg' %}">
        <div class="container">
            <div class="footer-top footer-padding">
                <a href="index.html"><h2><font color="white">Varun Information Technology Solutions LLP</font></h2></a>
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-number">
                                <h4><span>+91- </span>9422065743</h4>
                                 <h4><span>+91- </span>9922902036</h4>
                                <h4><span>+91- </span>8329258755</h4>
                                <p>vitsllps@gmail.com</p>
                                <p>suniljangira@hotmail.com</p>
                                <p>varunincorporates@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <ul>
                                    <li><a href="#"></a><a href="#">VITS is a software company based in Pune,
                                        India. We offer multiple solutions ranging from software development, website
                                        designing, mobile application development and online marketing that help small
                                        and medium scale companies to perform, profit and grow</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Sr.No.133/2,Near Neha Motors, Gurudwara Road,Chinchwad,Pune-India-411033</h4>
                                <div class="footer-pera">
                                    <p class="info1">Subscribe now to get daily updates</p>
                                </div>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                SIGN UP
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

    <!-- JS here -->

    <script src="{%  static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static  'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{%  static  'assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

    <!-- counter , waypoint -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>