{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}



{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Contact US</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- Map -->

		<div class="contact_map">
			<!-- Google Map -->
			<div class="map">
				<div id="google_map" class="google_map">
					<div class="map_container"> <br><br>
                             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.3503120378177!2d73.76385641380266!3d18.648269670125835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9e8a8cd2a37%3A0x9aba5f8f6fea5119!2sVarun%20Information%20Techonology%20Solutions!5e0!3m2!1sen!2sin!4v1598781710140!5m2!1sen!2sin" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
					</div>
				</div>
			</div>
		</div>
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Pune , Maharashtra.</h3>
                                <p>India - 411033</p>
                             </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+91-9422065743</h3>
                                <p>Mon to Fri 9am to 5pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>vitsllps@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 text-center">
                    <h4>Let's Meet</h4>
                    <h4>Cofffe Is On Us</h4>
                     <img src="{% static 'images/what.jpg' %}" alt=""> <a href=" https://wa.me/message/5AHTE6YVWSWRI1"><h4>Contact Us on Whatsapp</h4></a>
                     <h4>Give us a call - +91-8329258755</h4>
                    <h4>We Would Be Happy To Meet You And Learn All About Your Business</h4>
                </div>
            </div>
        </div><br><br><br>

         <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img">
                        <img src="{% static 'images/blob.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-10">
                            <span>Behind The Scenes At Beyond</span>
                            <h2>How VITS is different than others?.</h2>
                        </div>
                         <div class="support-caption">
                             <p class="pera-top"></p>
                             <p class="pera-top">Though this is a digital era, we haven’t forgot the core basics.
                                 Digital is technology, it’s a tool. Core marketing is what fuels digital marketing.
                                 When we work with any client, we don’t just talk about SEO, Social Media, Google ads
                                 etc.</p>
                             <p class="pera-top">We talk about –</p>
                             <p class="pera-top">Product</p>
                             <p class="pera-top">Price</p>
                             <p class="pera-top">Place</p>
                             <p class="pera-top">Promotion</p>
                             <p>We at VITS are focused towards meeting business goals with human needs by understanding psychology.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About Area End-->

        <!-- ================ contact section end ================= -->
    </main>
{% endblock %}