{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}



{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Don't Hire Us If You Want Ordinary Results!</h2>
                                <h4>Digital Marketing Agency in Pune</h4>
                             </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Hero End -->

<br><br>
        <!--? Categories Area Start -->
                            <h2>Why Do You Even Need Digital Marketing?</h2>
        <br>
                         <h4>Business challenge</h4>
                        <p></p>
        <p></p>
        <p>There are 4.39 billion Internet users all across the World as of 2019. Hence, there is no excuse to not to
            use Internet for marketing your business. To create a brand recall value, use of digital marketing is must,
            because an average internet user spends approx. 2 hours of a day accessing Internet.</p>
        <h2>Services We Provide</h2>
        <div class="categories-area section-padding20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-development"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Search Engine Optimization</a></h5>
                                <p></p>
                                <p>To Optimize Your Websites as Per Your Audience and latest Search Engine
                                    Guidelines</p>
                                <p></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Social Media Marketing</a></h5>
                                <p></p>
                                <p>To Promote Your Business on Different Social Media Platforms With Right Targeting
                                    Options.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-team"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">PPC Marketing</a></h5>
                                <p>To Promote Your Website on the First Page of Google With Paid Advertisements</p>
                            </div>
                        </div>
                    </div>

                   <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-team"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">App Store Optimization</a></h5>
                                <p>To Rank Your Applications in Play Stores and App Stores on Right Keywords to Increase Installs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Content Marketing</a></h5>
                                <p></p>
                                <p>To Generate Inbound Leads for Your Business With the Help of Targeted Content</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-development"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Website Development</a></h5>
                                <p></p>
                                <p>To develop and design beautiful converting websites.</p>
                                <p></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    <!-- Services Area End -->


   <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h3>Looking for a First-Class Business Plan Consultant?<br></h3>
                   <p></p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn btn-black f-right">GET A QUOTE</a>
                </div>
            </div>
        </div>
    </section>
        <br>

        <!-- Brand Area Start -->

          <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>Major Advantages of Digital Marketing</h2>
                         </div>
                     </div>
                </div>
            </div>
          </div>
        <!-- Brand Area End -->
         <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">It is Less Expensive than Traditional Marketing</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/dig01.jpeg' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><strong></strong></a></h5>
                                <p>We can’t deny that traditional marketing also gives good results. But it is quite
                                    expensive than digital marketing. A full front page newspaper ad costs in between
                                    5-10 lacs in India. Usually people buy newspapers in the morning, also not
                                    necessarily all the copies get sold. Hence, to create a strong brand recall value
                                    you need to be consistent with it, but resultantly it needs a high marketing budget.
                                    On the other hand, if we used 5-10 lacs for Digital Marketing, we can not only reach
                                    to large audience, but even retarget them.</p>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">It is Easy to Measure</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/dig02.jpg' %}" alt="Image" height="300" width="300">
                                <p>Unlike traditional marketing, digital is easy to measure. If it’s SEO, you can keep
                                    watch on ranking, if it’s Google or Facebook Ad, you can measure return on ad spent,
                                    if it’s an email marketing campaign, you can measure open-rate.Keeping track of
                                    marketing activities is crucial, because you can make a further plan based on past
                                    performance.</p>
                             </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Precise and Accurate Targeting</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/dig03.jpg' %}" alt="Image" height="300" width="300">
                                <p></p>
                                <p>Many people have a wrong perception about digital marketing. As per their definition,
                                    choosing digital means boosting posts on Facebook. But in actual, it’s way beyond
                                    than that. Digital Marketing allows us micro targeting. We can show our ad to
                                    gender, age, location, interest specific people making sure optimum use of ad
                                    budget.</p>
                           </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Immediate Feedback</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/dig04.jpg' %}" alt="Image" height="300" width="300">
                                <p></p>
                                <p>Every business revolves around customer. Hence, customer satisfaction should be the
                                    primary objective of any business. Digital Marketing helps us to get immediate
                                    customer feedback. Whether in the form of comments, direct messages or tweets. Based
                                    on these feedback we can modify our strategy if needed.</p>
                             </div>
                        </div>
                    </div>


                </div>
         </div>
<br>
     <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Start a new Project<br></h2>
                   <h4>We’re looking forward to hearing about your idea. Send us a message and we’ll contact you shortly.</h4>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="contact" class="btn btn-black f-right">Get In Touch</a>
                </div>
            </div>
        </div>
    </section>
        <br><br><br>
        <h2></h2><br>
        <p></p>
         <!--? About Area Start-->
    <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}" >
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-xl-6 col-lg-6">
                      <div class="support-location-img">
                        <img src="{% static 'images/dig05.png' %}" alt="">
                     </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>What Makes VITS The Best Digital Marketing Agency in Pune?</h2>
                            <p class="pera-top">.</p>
                        </div>
                         <div class="support-caption">
                            <p class="pera-top">We understand, you maybe trying digital marketing for the first time or maybe you have had a bad experience
        with previous digital marketing agency, but don’t worry. We at VITS, believe in empathy</p>
                        </div>
                        <div class="section-tittle section-tittle2 mb-10">

                          </div>
                        <div class="support-caption">
                            <p class="pera-top">That’s a good question. Because VITS Media Studios not just provides digital marketing services in Pune but actually treats your business like ours.
                                </p>
                         </div>

                        <div class="support-caption">
                            <p class="pera-top">Moreover, digital is a tool, when we take any project, our team put core marketing knowledge into action. </p>
                          </div>


                        <div class="support-caption">
                            <p class="pera-top">We don’t call ourselves the best digital marketing agency in Pune, our clients call us with that name. But, the best word is so mainstream nowadays, rather we would like to call ourselves the most trusted and humanized marketing agency.</p>
                         </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- About Area End-->
<div class="container">
    <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-0">
                            <h2>VITS's Digital Marketing Procedure In Nutshell</h2> </div>
                        <span></span>
                        <img src="{% static 'images/o700.png' %}" alt="Image" height="300" width="300">

                        <div class="section-tittle mb-70">
                         <br><br><br>
                        <span><strong>AUDITING</strong></span>
                        <p><h4><font color="blue">Before we create a digital marketing strategy, we study your current presence on Internet. Your current stats & performance, ranking, social media engagement etc.</font></h4></p>
                         <br><br><br>
                         <span><strong>BUYER'S PERSONA</strong></span>
                        <p></p>
                        <p><h4><font color="blue">Buyer persona refers to your ideal audience, their age, gender, location, annual income, highest level of education, occupation and many such things.</font></h4></p>
                         <br><br><br>
                        <span><strong>COMPETITOR'S RESEARCH</strong></span>
                        <p><h4><font color="blue">Competitor research is always beneficial. We study what they are doing and how can we do better than them. It helps us to improve our existing strategy.</font></h4></p>
                         <br><br><br>
                         <span><strong>CONTENT CREATION</strong></span>
                        <p> <h4><font color="blue">Content is the king! If the content is mediocre, people won’t interact and resultantly there won’t be any conversions. We make sure to create and distribute engaging content across various social media platforms.</font></h4></p>
                         <br><br><br>
                            <span><strong>REPORTING</strong></span>
                        <p><h4><font color="blue">Being best digital marketing agency in Pune we believe Data speaks for itself. Data driven marketing helps us to monitor, analyze and take corrective actions. We create reports every week or two.</font></h4></p>
                        </div>
                        </div>
                                <div class="support-caption">
                                      <a href="contact" class="btn post-btn">Keep In Touch</a>
                                 </div>                    </div>
                </div>
            </div>


     <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-0">
                            <h2>Frequently Asked Questions</h2> </div>
                        <span></span>
                        <img src="{% static 'images/o800.png' %}" alt=" ">
                         <br><br><br>
                        <div  class="section-tittle mb-70">
                            <span><strong>What's the pricing structure of you services?</strong></span>
                             <p><h4><font color="blue">Well, it depends on scope of work and the efforts we need to put to create strategies.
                            Every time we create a customized quotation for each business.</font></h4></p>
                         <br><br><br>
                            <span><strong>What services do you provide under digital marketing?</strong></span>
                            <p></p>
                            <p><h4><font color="blue">SEO, Social Media Marketing, Content Writing, Google Ads, Website development. Pune is a competitive market and thus we believe to cover all the major aspects for a company so that they can fight the competition. We cover all these services in Pune being the only digital marketing agency providing services in multiple niches.</font></h4></p>
                         <br><br><br>
                            <span><strong>How will you learn about my business?</strong></span>
                            <p></p>
                            <p><h4><font color="blue">We send you the questionnaire and based on your answers we set up a call to discuss
                            further.</font></h4></p>
                             <br><br><br>
                            <span><strong>Is it necessary to sign a long term contract?</strong></span>
                            <p><h4><font color="blue">No. All the contracts are on monthly basis. If you are not satisfied with performance,
                            you are free to cancel the contract and there is no hidden cost.</font></h4> </p>
                           <br><br><br>
                                <div class="support-caption">
                                      <a href="contact" class="btn post-btn">Keep In Touch</a>
                                 </div>
                           </div>
                        </div>

                    </div>
                </div>
            </div>


          </div>

         </div>



    </main>
{% endblock %}