{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}

{% block body %}
<main>
        <!--? Hero Start -->

    <div class="slider-area2">
        <div class="slider-height2 hero-overly2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>eCommerce</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="hero-cap hero-cap2 text-center">
             <h4>be your own boss, grow your business with us.</h4><br>
             <h1>VITS eCommerce Solutions</h1><br>
             <h4>Grow Your Business  on VITS eCommerce WebSite.</h4><br>
             <div class="team-img">
                <img src="{% static 'images/oip.jpg' %}" alt="">
            </div>
         <br><h4>Offering in-depth training for your team!</h4><br>
        <p><strong>VITS offer multiple solutions ranging from software development,
            website designing, mobile application development and online marketing that help small and medium-scale
            companies to perform, profit and grow.</strong></p>
        <p><strong>VITS are considered as quite creative and dependable by our clients, helping businesses gain a competitive
            advantage from cost-efficient and effective web solutions.</strong></p>
        <p><strong>VITS have been serving businesses representing diverse
            industry verticals with quality solutions and services as a world-class software development and designing
            company.</strong></p>
    </div>
<section id="advanced">
		<div class="section-content">
         <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap"  text-center>
                                <img src="{% static 'images/com01.jpg' %}" alt="Image" height="300" width="300">
                                <h2><a href="services.html">Where to Sell?</a></h2>
                                <p></p>
                                <p>Depending upon the business category you are in, we sit down with experts  to shortlist
                                    the most suitable e-commerce platforms for your shop/business.
                                    We also go ahead and register your products in all the
                                    social market places and will provide you training as well for mis reports.
                                    Our team will provide live
                                    training with demo and help you to start and grow your business online with VITS e-commerce website.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-cap">
                                <img src="{% static 'images/com02.png' %}" alt="Image" height="300" width="300">
                                <h2><a href="services.html">Become Professional seller</a></h2>
                                <p>When you are selling on marketplaces, your first point of contact with your customer
                                    is through your product image and content. Our dedicated Studio space helps for your
                                    best product photography. Our highly dedicated team will manage your account with
                                all the special efforts.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                              <div class="cat-cap">
                                <img src="{% static 'images/com03.png' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><h2>Account Managagement</h2></a></h5>
                                <p></p>
                                  <p></p>
                                  <p>A person can start selling online but the issue arises when he/she have to manage
                                      accounting things. Our dedicated Chartered Accountants team helps you to save tax
                                      and can manage all the things like GST Filling, Income Tax Filling, Safe Tax and
                                      many more things. You don't have any burden on you about any tax related
                                      issue.</p>
                            </div>
                        </div>
                    </div>
                </div>
         </div>
 		</div>

            <div class="team-area section-padding8">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-90">
                            <h2>E-COMMERCE SERVICES</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com04.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">ACCOUNT HEALTH MANAGEMENT</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com05.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">PRODUCT PHOTOGRAPHY</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com06.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">PROFIT REPORT</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div class="team-area section-padding10">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-90">
                            <h2>TAX MANAGEMENT</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com11.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">ACCOUNT BOOK KEEPING</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com12.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">GST MANAGEMENT</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com14.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">TRADEMARK REGISTRATION</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</section>
 <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Grow your business with us<br></h2>
                   <h4>We’re looking forward to hearing about your idea. Send us a message and we’ll contact you shortly.</h4>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="contact" class="btn btn-black f-right">Get In Touch</a>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 text-center">
                    <img src="{% static 'images/what.jpg' %}" alt=""> <a href=" https://wa.me/message/5AHTE6YVWSWRI1"><h2>Contact Us on Whatsapp</h2></a>
                </div>
            </div>
        </div><br><br>
      </main>
{% endblock %}