{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}

{% block body %}
<main>
        <!--? Hero Start -->

    <div class="slider-area2">
        <div class="slider-height2 hero-overly2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2><font  color="white">e-Commerce</font></h2>
                            <h3><font  color="white">Put Your Data To Work</font><h3></h3>
                                <h4><font  color="white">Powerful e-commerce analytics and AI-powered personalization to boost your business.</font></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="hero-cap hero-cap2 text-center">
             <h4>be your own boss, grow your business with us.</h4><br>
             <h1>VITS eCommerce Solutions</h1><br>
             <h4>Grow Your Business  on VITS eCommerce WebSite.</h4><br>
             <div class="team-img">
                <img src="{% static 'images/oip.jpg' %}" alt="">
            </div>
         <br><h4>Offering in-depth training for your team!</h4><br>
        <p><strong>VITS offer multiple solutions ranging from software development,
            website designing, mobile application development and online marketing that help small and medium-scale
            companies to perform, profit and grow.</strong></p>
        <p><strong>VITS are considered as quite creative and dependable by our clients, helping businesses gain a competitive
            advantage from cost-efficient and effective web solutions.</strong></p>
        <p><strong>VITS have been serving businesses representing diverse
            industry verticals with quality solutions and services as a world-class software development and designing
            company.</strong></p>
    </div>
<section id="advanced">
		<div class="section-content">
         <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap"  text-center>
                                <img src="{% static 'images/com01.jpg' %}" alt="Image" height="300" width="300">
                                <h2><a href="services.html">Where to Sell?</a></h2>
                                <p></p>
                                <p>Depending upon the business category you are in, we sit down with our experts  to prepare
                                    the most suitable e-commerce platforms for your shop/business.
                                    We register your products on VITS e-commerce platform which is linked to many
                                    social market places. We will provide you with your own personalised  website , product catalog and
                                    a list of loyal customer who are interested in your product.
                                    VITS will provide your staff  training for loading your products on website,
                                    see equivalent products catalog and prices, can load festival offer,
                                    generate MIS reports. Our team will provide live
                                    training with vedios, live chats and help you to start and grow your business online with VITS e-commerce  world.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-cap">
                                <img src="{% static 'images/com02.png' %}" alt="Image" height="300" width="300">
                                <h2><a href="services.html">Become Professional seller</a></h2>
                                <p>When you are selling on marketplaces, your first point of contact with your customer
                                    is through your product image and content. Our dedicated Studio space helps for your
                                    best product photography. Our highly dedicated team will manage your account with
                                all the special efforts.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                              <div class="cat-cap">
                                <img src="{% static 'images/com03.png' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><h2>Account Managagement</h2></a></h5>
                                <p></p>
                                  <p></p>
                                  <p>A person can start selling online but the issue arises when he/she have to manage
                                      accounting things. Our dedicated Chartered Accountants team helps you to save tax
                                      and can manage all the things like GST Filling, Income Tax Filling, Safe Tax and
                                      many more things. You don't have any burden on you about any tax related
                                      issue.</p>
                            </div>
                        </div>
                    </div>
                </div>
         </div>
 		</div>

            <div class="team-area section-padding8">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-90">
                            <h2>E-COMMERCE SERVICES</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com04.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">ACCOUNT HEALTH MANAGEMENT</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com05.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">PRODUCT PHOTOGRAPHY</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com06.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">PROFIT REPORT</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div class="team-area section-padding10">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-90">
                            <h2>TAX MANAGEMENT</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com11.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">ACCOUNT BOOK KEEPING</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com12.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">GST MANAGEMENT</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'images/com14.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">TRADEMARK REGISTRATION</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</section>
 <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Grow your business with us<br></h2>
                   <h4>We’re looking forward to hearing about your idea. Send us a message and we’ll contact you shortly.</h4>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="contact" class="btn btn-black f-right">Get In Touch</a>
                </div>
            </div>
        </div>
    </section>
    <br><br>
     <!--? About Area Start-->
        <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4">
                        <div class="support-location-img">
                            <img src="{% static 'images/com15.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-9">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-50">
                                <span>e-commerce</span>
                                <h4><font  color="white">Key Analytics At Your Fingertips</font></h4>
                                <p><font  color="white">Keep track of key performance indicators such as average order value, revenue per customer and newly acquired customers.</font></p>
                                <h4><font  color="white"> CUSTOMER DASHBOARD</font></h4>
                                <p><font  color="white">Gain insights in your customers as you acquire
                                    them and through out the customer lifecycle.</font></p>
                                <h4><font  color="white"> RECOMMENDATIONS REPORT</font></h4>
                                <p><font  color="white">Monitor and improve the performance of your
                                    AI-powered product recommendations.</font></p>
                             </div>
                            <p></p>
                            <p><font  color="white">VITS a great way to improve your e-commerce. In such a competitive
                                environment as the online market, a tool like engage allow you to make a difference and
                                offer a better experience to your users. And, of course, increase your incomes.</font></p>
                            <div class="support-caption">


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About Area End-->
<br><br>
    <section id="feature">
		<div class="features">
			<h4 class="twenty"></h4>
			<ul>
			</ul>
		</div>
		<h2 class="title">Know Your Revenue</h2>
		<div class="section-content">
			<ol><h3>
            <li><img src="{% static 'images/inv01.png' %}" alt="">By Order Status </li><p>.Is your revenue potential tapped out? Break down your revenue by order status.</p>
			<li><img src="{% static 'images/inv02.png' %}" alt="">By Day of Week</li><p>When are you driving most sales? Spend your ad budget where it counts.</p>
	        <li><img src="{% static 'images/inv03.png' %}" alt="">By Hour of Day</li><p>Be prepared. Know the critical hours of your business.</p>
			<li><img src="{% static 'images/inv04.png' %}" alt="">By City</li>
             <p>Focus your spend on the best locations. Get your sales performance by city.</p>
			<li><img src="{% static 'images/inv05.png' %}" alt="">By Currency</li>
             <p>Support the right currencies. Break down your revenue by currency.</p>
			<li><img src="{% static 'images/inv06.png' %}" alt="">By Country</li>
            <p>Where is your revenue coming from? Get your sales per country.</p>

			</h3>
			</ol><br><br>

		</div>
	</section>
    <div>
         <h2>Display product recommendations</h2>
             <div class="col-xl-4 col-lg-4">
            <div class="support-location-img">
                <img src="{% static 'images/com21.png' %}"  alt="Image" height="600" width="600">
                 <p>Seamlessly integrate the recommendation engine and display recommendations in store.</p>
                <img src="{% static 'images/com22.png' %}"  alt="">
                <p><h2>Payments and billing</h2>
We use Stripe as our preferred partner to manage online payments and billing. We do not collect billing information upon signup.</p>
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 text-center">
                    <img src="{% static 'images/what.jpg' %}" alt=""> <a href=" https://wa.me/message/5AHTE6YVWSWRI1"><h2>Contact Us on Whatsapp</h2></a>
                </div>
            </div>
    </div><br><br>
      </main>
{% endblock %}