{% extends 'base.html'%}

{% load static %}

{% static "images" as baseUrl %}



{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Our Applications</h2>
                             </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Hero End -->

<br><br>
        <!--? Categories Area Start -->
                            <h2>eCommerce Industry</h2>
        <br>
                         <h4>Business challenge</h4>
                        <p></p>
                        <p>Enhanced internet connectivity, increased adoption of mobile devices and social media frenzy has resulted in
                            an explosion of online customer interaction. However, online commerce is in a state of ﬂux due to the
                            increased pace of technology evolution and intense competition. Several eCommerce companies today, operate
                            on wafer thin margins which necessitate them doing volume business. The business also needs strong customer
                            attraction and retention strategies. The convergence of channels calls for proactive development of systems
                            to address the challenges.</p>
        <div class="categories-area section-padding20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-14">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h4>eCommerce Industry</h4>
                            <span>Solutions for eCommerce industry</span>
                         </div>
                        <h4>Our Solution</h4>
                       <p>VITS helps global enterprises gain competitive edge by leveraging the right mix of technology,
                        people and processes to achieve strategic objectives. Our team of domain experts ensures that IT
                        initiatives are tied to business imperatives through quantifiable metrics. The approach is
                        consultative and business-led: we first understand the business challenges and define the goals. This
                        enables us to identify and implement the appropriate technology solution.</p>
                        <p></p>
                        <p>VITS has a suite of solution accelerators and frameworks across the software development
                            lifecycle. These accelerators are used to reduce the development and go to market time.</p>
                        <br>
                        <h4>Our offerings</h4>
                        <p>eCommerce marketplace platform development and reengineering</p>
                        <p>Personalization and user experience management to provide unified shopping experience across
                            channels</p>
                        <p>Product visualization and interactive selling using product recommender system</p>
                        <p>Localization and internationalization</p>
                        <p>Multi device enablement for e-Commerce, m-Commerce and social commerce</p>
                        <p>Warranty and returns management</p>
                        <p>Commercial planning and stock management</p>
                        <p>Accurate demand planning and efficiency in Supply chain and logistics</p>
                        <p>Reporting and analytics (ETL, BI / DW, MDM, sentiment analysis, reputation management)</p>
                    </div>
                    <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-6">
                                        <div  >
                                            <img src="{% static 'images/ecommerce.jpg' %}" alt="">
                                        </div>
                                </div>
                            </div>
                        </div>
                     </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-development"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Web Designing </a></h5>
                                <p></p>
                                <p></p>
                                <p>Our team chases the latest technology to build the best products for you and your
                                    customers.</p><p> Our pursuit of better code never ends.</p>
                                <p>At VITS, we build products that people will love to use. Whether it’s a brand new
                                    site or a redesign, our web design and development services are custom-built to fit
                                    your business needs.</p>
                                 <p>As the development landscape continuously evolves, we are committed to keeping up
                                     with the times. Coding faster and more effectively is one of our highest priorities.</p>
                                <p>Technologies we work upon are:</p>
                                <p>1. Python</p>
                                <p>2. Java</p>
                                <p>3. Php</p>
                                <p>4. WordPress</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Web Application</a></h5>
                                <p></p>
                                <p>Customizing the web applications or its pages is one trend that can never fade away,
                                    as it gives what one desires in terms of the sites looks, content, graphics, etc. It
                                    is one of the best ways to harmonize well, between the new and the old ones.
                                    Customize design may not be changed regularly except for a few small alterations, as
                                    its design will be its face value. It then saves on your cost of revamping the site
                                    repeatedly. The software for the website can be designed as per the requirements and
                                    needs of the client. The customized website also helps in capturing the right
                                    audience for the website, especially, if it is an e-commerce website of a particular
                                    brand or website pertaining to educational institutes. The approach towards the
                                    website development needs to be clear from the beginning.
                                    Website designers provide various services in the custom web application development
                                    such as; its layout, source code, presentation, user-friendliness, etc., and these
                                    aspects are looked upon after the customized concept has been finalized.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-team"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Mobile Application Development</a></h5>
                                <p>For something as personal as mobile technology, careful craftsmanship and technique
                                    are key.
                                    Your mobile presence is your gateway to a wider audience; we make sure that you tap
                                    into this market in the best way possible. Our products are carefully engineered to
                                    provide the best user experience people would love to use. We architect apps and
                                    mobile sites that boast beautifully designed user interfaces. Ease of use and
                                    intuitiveness are among the many descriptions our apps and mobiles sites have been
                                    given.
                                    We offer full-service mobile application development services. Our team of master
                                    engineers is well equipped to provide you with frontend and backend support. We
                                    build amazing mobile sites and apps that leave a mark.

                                    1. Native Android App Development
                                    2. Native iOS App Development
                                    3. Mobile App UI Designing
                                    4. Mobile analytics and ASO</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        </div>
    <!-- Services Area End -->


   <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h3>Looking for a First-Class Business Plan Consultant?<br></h3>
                   <p></p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn btn-black f-right">GET A QUOTE</a>
                </div>
            </div>
        </div>
    </section>
        <br>

        <!-- Brand Area Start -->

          <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>80% users exit before conversion due to slower web application and poor user experience</h2>
                            <span>We build software keeping speed of the page load and scalability in mind, which increases overall conversion and revenue</span>

                            <p>Have you ever visited a web application that kept saying loading? Have you ever felt
                                turned off with a poor web app interface? If yes, then you already know what we mean.
                                While having a web app is important for your business, how it looks, works and engages
                                with your users matter most! And users don’t take a minute to share their experience,
                                thanks to the social media. So, if you want to grab the attention of your audience at
                                the first go, ensure you invest some time on it. We help you to do so by keeping in mind
                                speed of page load and scalability in mind.</p>
                         </div>
                        <br>
                    </div>
                </div>
            </div>
          </div>
        <!-- Brand Area End -->
         <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Software Architecture</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/w01.png' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><strong>A Better Architecture reduces development and scaling cost by 30%</strong></a></h5>
                                <p></p>
                                <p>A software architecture is the backbone of a web application. While a strong
                                    architecture can help your web application rise and soar, a poor architecture can
                                    make it crumble easily. A beautifully crafted software architecture can also help in
                                    easy scalability of the application. We build a strong and robust architecture
                                    system for your web application so that you have enhanced performance, easy
                                    scalability, better user experience and lowered cost.</p>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Page Load Time Matter</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/w02.png' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><strong>Speed of the Web Application Increases Revenue By 40%</strong></a></h5>
                                <p></p>
                                <p>If you think that web page loading doesn’t matter much, then think twice! In today’s age of speed, no one wants to wait an extra minute for loading time. The patience level of the audience is low, and hence you need to be 100% sure that your user doesn’t need to wait for the page to load. With us, you don’t need to think about the page load time, because we take care of it whenever we develop a web application</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Security Should Not Be Ignored</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/w03.png' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><strong>Cyber attack and data theft is going to further increase by 30%</strong></a></h5>
                                <p></p>
                                <p>Cyber attack and data theft are nothing new. Every day we come across such small and large incidents of cyber theft. Speak to us to understand how we can help you with data protection so that your users feel safe interacting with your web application.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">We Can Do All</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/w02.jpg' %}" alt="Image" height="300" width="300">
                                <h5><a href="services.html"><strong>Industries we cater to</strong></a></h5>
                                <p></p>
                                <p>We love to work and cater our services to every industry. We have already dipped our fingers in many pies including Finance, E-commerce, Travel, Entertainment and Hospitality.</p>
                            </div>
                        </div>
                    </div>


                </div>
         </div>
<br>
     <section class="wantToWork-area w-padding2 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Start a new Project<br></h2>
                   <h4>We’re looking forward to hearing about your idea. Send us a message and we’ll contact you shortly.</h4>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="contact" class="btn btn-black f-right">Get In Touch</a>
                </div>
            </div>
        </div>
    </section>
        <br><br><br>
        <h2>Database Management</h2><br>
        <p>In today’s data driven world, huge volume of data is flowing in from multiple sources in different formats.
            Texts, image, videos, audios…data is everywhere in every form. Hence, it becomes critical for organizations
            to store, process and retrieve data in the right manner. In addition to this, analysing these data is
            equally important because an organization’s success depends on how it is being able to leverage the data.
            For this, we need a robust and well-managed database architecture and management system. We help
            organizations like you to choose the right database solution.</p>
 <!--? About Area Start-->
    <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-7">
                    <div class="support-location-img">

                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>Database Architecture</h2>
                            <h4>27% Databases Can Be Easily Re-Architect</h4>
                        </div>
                         <div class="support-caption">
                            <p class="pera-top">Database is the heart of any software; its architecture design is one of the most important aspect that shouldn’t be neglected. We help in designing right schema and strategy as to how data will be processed, stored and utilized, which helps in making robust application easy and improve real time data availability to the business. Our team experts have in-depth knowledge of both open-source and closed source databases. Hence, we can offer you the right solution suitable for your business after a thorough analysis of your business requirement. We are well poised to address your needs with a robust database management system to leverage data analytics.</p>
                        </div>
                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>SQL Performance Tuning.</h2>
                            <h4>UnOptimized SQL Queries Can Decrease The Performance By 42%</h4>
                          </div>
                        <div class="support-caption">
                            <p class="pera-top">Are you optimizing your SQL queries? Data reveals that unoptimized SQL queries can decrease the overall performance by as much as 42%. If you have not thought about it, time to take a pause and review if your SQL queries are optimized. We have in-house database experts who can help you with optimizing your SQL queries on the production database. Give us a shot and you will be surprised to see how it not only help in improving overall performance but also reduce hardware requirement and save extra cost and time.</p>
                         </div>
                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>Database Migration</h2>
                            <h4>75% Users Are Afraid Of Database Migration</h4>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">If you’re afraid of database migration, then you would be surprised to know that you are not alone! Data says that more than 75% of users are afraid of database migration. Database migration is a complex and multiphase process which involves several steps like data assessment, time estimation, environment changes, required downtime, and many more steps. We understand that database downtime can lead to revenue loss for your business and how you it can affect the organization at a large. Hence, we help you to make smooth database transition. We thrive to do so by leveraging the in-depth knowledge of our database migration experts. We do a thorough analysis and step by step planning so that the migration happens smoothly with minimal downtime.</p>

                        </div>

                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>Database Backup</h2>
                            <h4>58% Database Backup Strategy Fail To Restore Required Data On Time</h4>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">Your database is your ‘goldmine’. It contains tons of data which needs to have backup from time to time. Although database backup are not required often, however, we must have the right strategy for backing up databases. We help you to take backup of your database from time to time precision by scheduling the time of backup, frequency, retention period, security, etc. We ensure that we have a proper plan in place to make sure that backups can be restored when required.</p>
                         </div>

                        <div class="section-tittle section-tittle2 mb-10">
                            <h2>Cloud Migration</h2>
                            <h4>Study Shows, 83% Of Enterprise Computing Will Move To Cloud By 2021</h4>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">With growing demand of digitization more and more businesses are adopting and migrating to adoption of cloud infrastructure. We help businesses to bridge the gap between the traditional solutions to cloud infrastructure migration. We help in creating right migration strategy, along with implementation and maintenance by deploying our best practices, business intelligence and regulatory system to meet your business objectives.</p>
                           <p class="mb-65">MySQL, PostgreSQL, Microsoft SQL Server, SQLite, MongoDB, Redis, MariaDB, Oracle, Firebase, Elasticsearch </p>
                            <a href="about" class="btn post-btn">More About Us</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-0">
                            <h2>Services We Provide Under Web Development</h2> </div>
                        <p><h4>Judgements on a company’s credibility are 75% based on the company’s website.</h4></p>
                            <p><h4>Your Facebook page, Instagram account, YouTube channel, and every other social media
                                platform where your account is can get banned regardless of your followers count. You
                                don’t own it.</h4></p>
                            <p><h4>On the other hand, you own your website. You have full control over it. Therefore, if
                        you want to survive in the online world, having a website is a must.</h4></p>

                        <br>
                    </div>
                </div>
            </div>
          </div>

    <!-- About Area End-->
<div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div >
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Business Website</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o400.jpg' %}" alt="Image" height="300" width="300">
                                <p>First impression of business must be awesome. We take care of it by designing beautiful mobile responsive business websites.</p>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html" >Blog Setup</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o500.jpg' %}" alt="Image" height="300" width="300">
                                <p>Want to start a blog? Don’t know how do start? Don’t worry, team VITS can set up a blog for you.</p>
                                                           </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Ecommerce Website</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o600.png' %}" alt="Image" height="300" width="300">
                                <p>We make user-friendly, secure ecommerce websites. You focus on business, let us handle the nitty-gritty of technicalities. We love it!</p>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Website Content</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o300.jpg' %}" alt="Image" height="300" width="300">
                                <p>Content matters a lot. We write website content in such a way that users will be compelled to hit that BUY NOW button.</p>
                              </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-left mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">Custom Website</a></h4>

                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o200.jpg' %}" alt="Image" height="300" width="300">
                                <p>We are not bound to CMS. Our team of hardcore programmers can make any website from scratch. Wanna try?</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div >
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                                <h4><a href="services.html">UI & UX Design</a></h4>
                            </div>
                            <div class="cat-cap">
                                <img src="{% static 'images/o100.jpg' %}" alt="Image" height="300" width="300">
                                <p>Our specialized team of marketers cum artists can do the makeover of your website.</p>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="support-caption">
                      <a href="contact" class="btn post-btn">Keep In Touch</a>
                 </div>
    <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-0">
                            <h2>VITS's Web Development Procedure In Nutshell</h2> </div>
                        <span></span>
                        <img src="{% static 'images/o700.png' %}" alt="Image" height="300" width="300">

                        <div class="section-tittle mb-70">
                         <br><br><br>
                        <span><strong>INFORMATION GATHERING</strong></span>
                        <p><h4><font color="blue">Before starting the project, we gather as much as information about your
                            business, both from you and our end. What goal do we want to achieve? Is it just a business
                            website or you want to sell products? This step answers everything!</font></h4></p>
                         <br><br><br>
                         <span><strong>PLANNING</strong></span>
                        <p></p>
                        <p><h4><font color="blue">After getting much needed information, it’s time to create a sitemap & wireframe. Just like
                            Architects make a blueprint before starting construction, we create a blueprint for the
                            website.</font></h4></p>
                         <br><br><br>
                        <span><strong>CONTENT CREATION</strong></span>
                        <p><h4><font color="blue">If you have the content-ready, fine. Otherwise, our content writing team creates converting
                            content for you which goes live on the website.</font></h4></p>
                         <br><br><br>
                         <span><strong>DEVELOPMENT</strong></span>
                        <p> <h4><font color="blue">The actual stage where we start developing and designing websites. Every step is carefully
                            taken. Be it menu color or form placement. As a website development company in Pune, we do
                            what’s best for you!</font></h4></p>
                         <br><br><br>
                            <span><strong>TESTING</strong></span>
                        <p><h4><font color="blue">The last but not least. Our job is not done once we create the website. Before delivering the
                            project our Quality Analysis team tests the website multiple times on different devices.</font></h4></p>
                        </div>
                        </div>
                                <div class="support-caption">
                                      <a href="contact" class="btn post-btn">Keep In Touch</a>
                                 </div>                    </div>
                </div>
            </div>


     <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-0">
                            <h2>Frequently Asked Questions</h2> </div>
                        <span></span>
                        <img src="{% static 'images/o800.png' %}" alt=" ">
                         <br><br><br>
                        <div  class="section-tittle mb-70">
                            <span><strong>What's the pricing structure of you services?</strong></span>
                             <p><h4><font color="blue">Well, it depends on scope of work and the efforts we need to put to create strategies.
                            Every time we create a customized quotation for each business.</font></h4></p>
                         <br><br><br>
                            <span><strong>What services do you provide under website development?</strong></span>
                            <p></p>
                            <p><h4><font color="blue">Custom Website Development in Pune, Ecommerce Websites, Business Websites, School
                            Websites, Website Content and More.</font></h4></p>
                         <br><br><br>
                            <span><strong>How will you learn about my business?</strong></span>
                            <p></p>
                            <p><h4><font color="blue">We send you the questionnaire and based on your answers we set up a call to discuss
                            further.</font></h4></p>
                             <br><br><br>
                            <span><strong>Is it necessary to sign a long term contract?</strong></span>
                            <p><h4><font color="blue">No. All the contracts are on monthly basis. If you are not satisfied with performance,
                            you are free to cancel the contract and there is no hidden cost.</font></h4> </p>
                           <br><br><br>
                                <div class="support-caption">
                                      <a href="contact" class="btn post-btn">Keep In Touch</a>
                                 </div>
                           </div>
                        </div>

                    </div>
                </div>
            </div>


          </div>

         </div>



    </main>
{% endblock %}